# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.vscode/*
Hive.cbp
Hive.depend
GUI_Hive version du 09 12/build/Desktop_Qt_6_8_0_llvm_mingw_64_bit-Debug/.qmake.stash
/GUI_Hive version du 09 12/build/Desktop_Qt_6_8_0_llvm_mingw_64_bit-Debug/debug
/GUI_Hive version du 09 12/build/Desktop_Qt_6_8_0_llvm_mingw_64_bit-Debug
/GUI_Hive version du 09 12/build/Desktop_Qt_6_8_0_MinGW_64_bit-Debug/debug
/GUI_Hive version du 09 12/build/Desktop_Qt_6_8_0_MinGW_64_bit-Debug
GUI_Hive version du 09 12/Game.cpp
GUI_Hive version du 09 12/Game.h
GUI_Hive version du 09 12/Image GUI.png
test/test.depend
